body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kaisei-decol: "Kaisei Decol";

  /* font sizes */
  --font-size-31xl: 50px;
  --font-size-8xl: 27px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --news-box: #fcf6f5;
  --color-black: #000;
  --news-title-box: #990011;
  --bottom-panel: #00539c;
  --foot-box: #eea47f;
  --aqua: rgba(38, 182, 244, 0.4);
  --safron: rgba(249, 147, 26, 0.63);
  --blue-color: #6a39f8;

  /* border radiuses */
  --br-31xl: 50px;
  --br-81xl: 100px;
}
