
    .in:hover 
    {
       color: blueviolet;
       font-size: 19px;
    }
    .hr{
        width: 80%;
        /* color: black; */
        padding: 0%;
        margin: 0%;
        border: 1px solid gray;
        position: relative;
        left: 20px;
    }
.log{
        background-color: aliceblue;
        color: darkgray;
        width: 80px;
        height: 40px;
        display: flex;
        flex-direction: row;
        padding: 5px;
        position: fixed;
        top: 5px;
        right: 2px;
        margin: 0px;
        border: 1px black solid;
        border-radius: 7px;
        box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
        z-index:+2;
    }
    .login
    {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 3px;
        margin-right: 6px;
    }
    .drop{
        display: none;
        flex-direction: column;
        margin: 0px;
        list-style: none;
        position: absolute;
        right: -15px;
        top: 40px;
        padding: 0px;
        z-index: +1;
        border-radius: 20px;
        text-decoration: none;
        border: 2px solid black;
        box-shadow: 4px 4px 8px 4px rgb(0.5,0.5,0,0.5);
        background-color: aliceblue;
    }
    .in{
        font-family:cursive;
        color: black;
        /* background-color: aliceblue; */
        width: 200px;
        padding-right: 5px;  
        padding-left: 5px;     
        padding-top: 20px;
        padding-bottom: 12px;
        text-align: center;
        /* position: relative; */
        /* left: -160px; */
        /* border-radius: 19px; */
        font-size: 17px;
         /* border-bottom: 0.5px solid gray; */
        /* border-style:var(); */
        /* border-left: 0.5px solid black; */
        text-decoration: none;
        /* top: 35px; */
        /* height: 60px; */
        
    }
    div div:hover div{
        display: flex;
    }
.desktop-1-child,
.stock-back-1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.desktop-1-child {
  top: 1161px;
  background-color: #8dfd7a;
  height: 95px;
}
.stock-back-1 {
  top: 0;
  border-radius: 0 0 400px 0;
  height: 487px;
  object-fit: cover;
}
.pilot {
  position: absolute;
  top: 136px;
  left: 774px;
  font-size: 150px;
  color: var(--color-white);
  display: inline-block;
  width: 560px;
  height: 178px;
}
.desktop-1-item {
  position: absolute;
  top: 507px;
  left: 40.3px;
  border-radius: 200px;
  width: 1359px;
  height: 70px;
}
.home,
.market-news,
.my-portfolio,
.my-watchlist,
.trend {
  position: absolute;
  top: 1185px;
  left: 347px;
  display: inline-block;
  width: 231px;
  height: 71px;
}
.home,
.market-news,
.my-watchlist,
.trend {
  top: 1187px;
  left: 149px;
  width: 188px;
}
.market-news,
.my-watchlist,
.trend {
  top: 1186px;
  left: 1053px;
  width: 213px;
}
.my-watchlist,
.trend {
  top: 1187px;
  left: 856px;
  width: 188px;
}
.my-watchlist {
  top: 1185px;
  left: 647px;
  width: 207px;
}
.nifty-1-icon,
.stcok-1-icon {
  position: absolute;
  object-fit: cover;
}
.stcok-1-icon {
  top: 1247px;
  left: 0;
  width: 1920px;
  height: 180px;
  mix-blend-mode: luminosity;
}
.nifty-1-icon {
  top: 1674px;
  left: 23px;
  width: 844px;
  height: 575px;
}
.desktop-1-inner {
  position: absolute;
  top: 1472px;
  left: 444px;
  border-radius: var(--br-31xl);
  background-color: var(--safron);
  width: 551px;
  height: 122px;
}
.todays-nifty-trend {
  position: absolute;
  top: 1502px;
  left: 509px;
  font-size: 40px;
  color: #150097;
  display: inline-block;
  width: 422px;
  height: 79px;
}
.rectangle-div {
  position: absolute;
  top: 1639px;
  left: 936px;
  background-color: var(--safron);
  width: 431px;
  height: 49px;
}
.best-seller {
  position: absolute;
  top: 1639px;
  left: 952px;
  text-align: left;
  display: inline-block;
  width: 264px;
  height: 47px;
}
.desktop-1-child1,
.desktop-1-child2 {
  position: absolute;
  top: 1688px;
  left: 931px;
  background-color: var(--aqua);
  width: 442px;
  height: 219px;
}
.desktop-1-child2 {
  top: 1977px;
  background-color: var(--safron);
  width: 441px;
  height: 46px;
}
.most-trusted {
  position: absolute;
  top: 1971px;
  left: 952px;
  text-align: left;
  display: inline-block;
  width: 277px;
  height: 47px;
}
.desktop-1-child3 {
  position: absolute;
  top: 2018px;
  left: 931px;
  background-color: var(--aqua);
  width: 434px;
  height: 231px;
}
.desktop-1-child4 {
  position: absolute;
  top: 2411px;
  left: 45px;
  background-color: #f9e795;
  width: 1328px;
  height: 105px;
}
.trending-news {
  position: absolute;
  top: 2417px;
  left: 386px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 645px;
  height: 75px;
}
.desktop-1-child5,
.desktop-1-child6 {
  position: absolute;
  top: 2571px;
  left: 75px;
  background-color: var(--news-box);
  width: 272px;
  height: 378px;
}
.desktop-1-child6 {
  top: 2796px;
  background-color: var(--news-title-box);
  width: 270px;
  height: 153px;
}
.desktop-1-child7 {
  position: absolute;
  top: 3271px;
  left: 0;
  border-radius: var(--br-81xl) var(--br-81xl) 0 0;
  background-color: var(--foot-box);
  width: 1431px;
  height: 106px;
}
.desktop-1-child10,
.desktop-1-child8,
.desktop-1-child9 {
  position: absolute;
  top: 3304px;
  left: 127px;
  border-radius: var(--br-31xl);
  background-color: var(--bottom-panel);
  width: 348px;
  height: 52px;
}
.desktop-1-child10,
.desktop-1-child9 {
  left: 928px;
}
.desktop-1-child10 {
  left: 534px;
}
.contact,
.download-app,
.join-community {
  position: absolute;
  top: 3312px;
  left: 155px;
  font-size: var(--font-size-8xl);
  color: var(--color-white);
  display: inline-block;
  width: 298px;
  height: 34px;
}
.contact,
.join-community {
  top: 3310px;
  left: 563px;
  width: 295px;
  height: 36px;
}
.join-community {
  top: 3311px;
  left: 970px;
  width: 285px;
  height: 32px;
}
.desktop-1-child11,
.desktop-1-child12 {
  position: absolute;
  top: 2571px;
  left: 402px;
  background-color: var(--news-box);
  width: 272px;
  height: 378px;
}
.desktop-1-child12 {
  top: 2796px;
  background-color: var(--news-title-box);
  width: 270px;
  height: 153px;
}
.desktop-1-child13,
.desktop-1-child14 {
  position: absolute;
  top: 2571px;
  left: 720px;
  background-color: var(--news-box);
  width: 272px;
  height: 378px;
}
.desktop-1-child14 {
  top: 2796px;
  background-color: var(--news-title-box);
  width: 270px;
  height: 153px;
}
.desktop-1-child15,
.desktop-1-child16 {
  position: absolute;
  top: 2571px;
  left: 1038px;
  background-color: var(--news-box);
  width: 272px;
  height: 378px;
}
.desktop-1-child16 {
  top: 2796px;
  background-color: var(--news-title-box);
  width: 270px;
  height: 153px;
}
.we-make-you {
  position: absolute;
  top: 507px;
  left: 149px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 1136px;
  height: 194px;
}
.desktop-1-child17,
.nse-1-icon {
  position: absolute;
  left: 57px;
  width: 1330px;
}
.nse-1-icon {
  top: 604px;
  height: 535px;
  object-fit: cover;
}
.desktop-1-child17 {
  top: 949px;
  background-color: rgba(18, 17, 17, 0.63);
  height: 181px;
}
.nse-is-an {
  position: absolute;
  top: 983px;
  left: 108px;
  font-size: 30px;
  color: var(--color-white);
  display: inline-block;
  width: 1223px;
  height: 98px;
}
.ellipse-div {
  position: absolute;
  top: 1093px;
  left: 621px;
  border-radius: 50%;
  background-color: #fff8f8;
  width: 20px;
  height: 20px;
}
.desktop-1-child18,
.desktop-1-child19,
.desktop-1-child20 {
  position: absolute;
  top: 1096px;
  left: 662px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 13px;
  height: 13px;
}
.desktop-1-child19,
.desktop-1-child20 {
  left: 695px;
}
.desktop-1-child20 {
  left: 729px;
}
.desktop-1 {
  position: relative;
  background-color: #d0e6f9;
  width: 100%;
  height: 3377px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-kaisei-decol);
}
